@{
    ViewBag.Title = "About";
}

<div class="text-center" style="margin-bottom:30px">
    <h4><strong>О проекте</strong></h4>
</div>

<div class="text-center">
    <h4>Веб-сервис, для прогнозирования и сравнения эффективности депозитных портфелей</h4>
</div>