@{
    ViewBag.Title = "Contact";
}

<div class="text-center" style="margin-bottom:30px">
    <h4><strong>Контакты</strong></h4>
</div>
<div class="text-left">
    <h4>Андрес: Минск, улица Захарова 15</h4>
    <h4>Телефон: +375-33-68-55-33</h4>
</div>
