@{
    ViewBag.Title = "Main Page";
}

<div class="text-center" style="margin-top:30px">       
    <img src="~/Images/mainlog.jpg" class="img-circle" alt="Проектирование" width="125" height="93">
</div>
<div class="row text-center" style="margin-top:10px">
    <div class="col-md-4">
        <div>
            <h4><strong>Проектирование</strong></h4>
        </div>
        <div>
            <img src="~/Images/project0.jpg" class="img-thumbnail" alt="Проектирование" width="300" height="300">
        </div>
        <div class="text-left">
            <ul>
                <li><h5>Создание депозитов</h5></li>
                <li><h5>Проектирование различных условий</h5></li>
                <li><h5>Формирование депозитных портфелей</h5></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4><strong>Прогнозирование</strong></h4>
        </div>
        <div>
            <img src="~/Images/forecast2.jpg" class="img-thumbnail" alt="Прогнозирование" width="300" height="300">
        </div>
        <div class="text-left">
            <ul>
                <li><h5>Прогнозирование депозитов</h5></li>
                <li><h5>Прогнозирование депозитных портфелей</h5></li>
                <li><h5>Формирование отчетности</h5></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h4><strong>Сопоставление</strong></h4>
        </div>
        <div>
            <img src="~/Images/compare3.jpg" class="img-thumbnail" alt="Сопоставление" width="300" height="300">
        </div>
        <div class="text-left">
            <ul>
                <li><h5>Сравнение депозитов и депозитных портфелей</h5></li>
                <li><h5>Определение эффектов капитализации</h5></li>
                <li><h5>Определение итоговых потоков денежных средств</h5></li>
            </ul>
        </div>
    </div>
</div>